<div class="flex flex-col justify-center bg-[#201a2d] py-2 gap-1">
  <div
    class="flex flex-col py-10 gap-2 px-10 justify-between sm:flex-col sm:px-10 md:flex-row md:px-28"
  >
    <div class="flex flex-col items-start gap-2">
      <div class="flex flex-row items-center justify-between gap-3">
        <div class="text-slate-100 text-lg font-medium">FRONTEND</div>
        <div class="text-red-600 text-lg font-medium">TEST</div>
      </div>
      <div class="text-white text-xs">Hey.. what's app ✌️</div>
    </div>

    <div class="flex flex-col items-start gap-3">
      <div class="mb-1 text-lg font-medium">Our Services</div>
      <div class="mb-1 text-xs mt-2">Our Services</div>
      <div class="mb-1 text-xs">Tracking</div>
      <div class="mb-1 text-xs">Terms of services</div>
    </div>

    <div class="flex flex-col items-start gap-3">
      <div class="mb-1 text-lg font-medium">Our Company</div>
      <div class="mb-1 text-xs mt-2">Orders</div>
      <div class="mb-1 text-xs">Get in touch</div>
      <div class="mb-1 text-xs">Management</div>
    </div>

    <div class="flex flex-col items-start gap-3">
      <div class="mb-1 text-lg font-medium">Address</div>
      <div class="mb-1 text-xs mt-2 opacity-50 text-white">
        121 King St.<br />12BGF Dubai
      </div>
      <div class="mb-1 text-xs opacity-50 text-white">
        554 - 512 - 122<br />info@test.com
      </div>
    </div>
  </div>
  <div class="text-center text-gray-500 font-normal">
    All rights reserved 2023
  </div>
</div>
