.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* adjust as needed */
  justify-content: center;
}

.restaurant-card {
  width: 300px; /* adjust as needed */
  overflow: hidden; /* for a clean look */
}

.restaurant-image {
  height: 250px; /* adjust as needed */
  position: relative; /* for positioning the title */
  display: flex;
  align-items: flex-end; /* align title to bottom */
  justify-content: center;
}

.restaurant-title {
  width: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* semi-transparent overlay for better readability */
  color: white; /* title text color */
  text-align: center;
  padding: 8px 0; /* adjust as needed */
}
