<div class="flex flex-col items-center gap-5 py-20 px-5 bg-[#F5F9FF]">
  <div class="text-3xl font-bold text-black">Featured</div>
  <swiper #swiperPlatForm [config]="config" style="width: 100%">
    <ng-template swiperSlide *ngFor="let item of restaurants; let i = index">
      <div class="drop-shadow-xl h-[20rem]">
        <mat-card
          class="relative cursor-pointer h-[18rem] rounded bg-no-repeat bg-center bg-cover"
          [style.background-image]="'url(' + item.image[0].url! + ')'"
        >
          <div
            class="flex flex-col gap-5 items-center absolute top-[70%] right-[40%]"
          >
            <div class="text-lg font-semibold">{{ item.name }}</div>
            <div class="-mt-4">90 Chefs</div>
          </div>
        </mat-card>
      </div>
    </ng-template>
  </swiper>
</div>
