<div
  class="bg-no-repeat h-96 relative object-cover bg-cover"
  style="background-image: url('../../assets/header-section-img.png')"
>
  <div
    class="absolute flex flex-col items-center gap-2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <div class="text-5xl text-white font-medium">Restaurants</div>
    <div class="text-lg text-white">Book your table</div>
  </div>
</div>
