.header {
  background-color: hsla(259, 27%, 14%, 1);
}

.search-icon {
  color: transparent;
  background: linear-gradient(to right, #201a2d 0%, #201a2d7c 15%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
