<header class="sticky top-0 z-50 header">
  <nav class="flex flex-row items-center justify-between p-4 lg:px-20">
    <div class="hidden md:flex flex-row items-center justify-between gap-10">
      <button mat-button class="text-white text-sm">Download App</button>
      <button mat-button class="text-white text-sm">Become a Partner</button>
    </div>
    <div class="flex flex-row items-center justify-between gap-2">
      <div class="text-lg font-medium opacity-90">FRONTEND</div>
      <div class="text-red-600 text-lg font-medium">TEST</div>
    </div>
    <div class="hidden md:flex flex-row items-center justify-between gap-10">
      <button mat-icon-button class="search-icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button class="text-white text-sm" id="sign-up">
        Sign Up
      </button>
      <button mat-raised-button color="warn" class="text-sm p-40 rounded-md">
        Login
      </button>
    </div>
    <div class="flex md:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2"
      >
        <span class="sr-only">Open main menu</span>
        <mat-icon>list</mat-icon>
      </button>
    </div>
  </nav>
</header>
