<app-header-section></app-header-section>
<div class="layout">
  <app-hero-section></app-hero-section>
  <app-ads-section></app-ads-section>
  <app-featured-restaurants-list></app-featured-restaurants-list>
  <app-explore-restaurants-sections></app-explore-restaurants-sections>
  <app-footer></app-footer>
</div>
