::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #fff;
  color: #000;
}

::ng-deep .mat-form-field-placeholder {
  color: #222;
}

::placeholder {
  color: grey !important;
}

.selected {
  background-color: red !important; /* Selected color */
  color: white !important; /* Text color for selected state */
}

.not-selected {
  background-color: white !important; /* Not selected color */
  color: black !important; /* Text color for not selected state */
}

.online {
  color: #36d83c;
}

.offline {
  color: #cbcbcb;
}

.divider {
  height: 20px;
  width: 2px;
  margin-right: 10px;
}
