<div class="flex flex-col items-center gap-5 py-20 px-5 bg-[#fff5f5]">
  <div class="text-black text-3xl font-bold">Explore Restaurants</div>
  <div class="text-black text-lg font-normal text-center">
    Here’s our fine restaurants collection, Enjoy!
  </div>

  <div
    class="w-full flex flex-col md:flex-row items-center gap-0 justify-center drop-shadow-lg"
  >
    <mat-form-field
      appearance="outline"
      class="w-full md:w-3/4"
      style="height: 63px"
    >
      <mat-icon class="text-black" matPrefix>search</mat-icon>
      <input
        type="tel"
        matInput
        placeholder="Search Restaurants or cuisines"
        style="color: black !important"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange()"
        (keyup.enter)="searchOnClick()"
        name="search"
      />
      <mat-divider
        matSuffix
        class="invisible sm:invisible bg-gray-200 md:visible lg:visible xl:visible 2xl:visible divider"
        vertical
      ></mat-divider>
    </mat-form-field>

    <div class="hidden sm:hidden h-14 -mt-2 bg-white p-1 md:flex items-center">
      <input
        #placesRef="ngx-places"
        ngx-gp-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        style="color: black !important"
      />
    </div>

    <div
      class="hidden sm:hidden h-14 bg-white -mt-2 md:flex items-center rounded-tr-md"
    >
      <mat-icon class="text-black bg-white h-14 mr-2">control_camera</mat-icon>
    </div>

    <div class="flex-row flex md:hidden m-3 w-full items-center justify-center">
      <div
        class="h-14 w-full -mt-2 bg-white p-1 sm:flex md:hidden items-center"
      >
        <input
          class="w-full"
          #placesRef="ngx-places"
          ngx-gp-autocomplete
          (onAddressChange)="handleAddressChange($event)"
          style="color: black !important"
        />
      </div>

      <div
        class="h-14 bg-white -mt-2 sm:flex md:hidden items-center rounded-tr-md"
      >
        <mat-icon class="text-black bg-white h-14">control_camera</mat-icon>
      </div>
    </div>
    <button
      mat-raised-button
      color="warn"
      style="border-radius: 5px"
      class="ms-3"
      (click)="searchOnClick()"
    >
      Search
    </button>
  </div>

  <div class="text-gray-400 text-lg -mt-1">Cuisines Categories</div>
  <div class="flex flex-wrap gap-2 items-center justify-center">
    <button
      style="border-radius: 10px"
      mat-raised-button
      [ngClass]="{
        selected: isSelected('all'),
        'not-selected': !isSelected('all')
      }"
      (click)="toggleCategory('all')"
    >
      Show All, I’m Flexible
    </button>
    <button
      style="border-radius: 10px"
      mat-raised-button
      *ngFor="let item of cusines; let i = index"
      [ngClass]="{ selected: isSelected(i), 'not-selected': !isSelected(i) }"
      (click)="toggleCategory(i)"
    >
      {{ item.name }}
    </button>
  </div>

  <div
    *ngIf="!isLoading && restaurants.length === 0"
    class="text-black text-lg font-semibold mt-20"
  >
    No Restaurants Found
  </div>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-3 w-full py-10 px-4"
    >
      <mat-card
        class="h-96 p-2 rounded-md mr-auto hover:drop-shadow-xl cursor-pointer"
        style="background-color: white !important"
        *ngFor="let item of restaurants; let i = index"
      >
        <img
          mat-card-image
          class="h-4/5 w-full rounded-lg"
          [src]="item?.logo?.url"
          [alt]="item.name"
          loading="lazy"
        />
        <mat-card-actions class="flex flex-row justify-between items-center">
          <div class="flex flex-col items-start gap-1">
            <div class="text-black font-bold text-base">{{ item.name }}</div>
            <div
              title="{{ item.address }}"
              class="text-gray-400 font-normal truncate max-w-40"
            >
              {{ item.address }}
            </div>
          </div>
          <div class="flex flex-row gap-1">
            <div class="text-black">
              {{ item.online ? "Online" : "Offline" }}
            </div>
            <span
              [ngClass]="{
                online: item.online,
                offline: !item.online
              }"
              >●</span
            >
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isLoading" class="flex flex-col gap-2 mt-20 items-center">
    <mat-spinner></mat-spinner>
    <div class="text-black text-lg font-semibold">Loading</div>
  </div>
</div>
