<div class="flex flex-col items-center gap-10 px-5 py-16">
  <div class="text-3xl font-bold text-black">Discover what’s new</div>
  <swiper #swiperPlatForm [config]="config" class="px-5 w-full">
    <ng-template swiperSlide *ngFor="let item of images; let i = index">
      <div class="hover:drop-shadow-xl w-full h-[25rem]">
        <img
          [src]="item"
          class="cursor-pointer ad-img w-full h-[23rem] rounded-md"
          loading="lazy"
        />
      </div>
    </ng-template>
  </swiper>
</div>
